* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.input {
    display: block;
}

.container {
    margin: 20px 5%;
}

.navDiv {
    display: flex;
    justify-content: space-between;
}

.product {
    display: inline-block;
}

.modalWindow {
    display: none;
}